*{
    margin: auto;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

li{
    background-color: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
    transition: 0.3s;
}

li:hover {
    background-color: aliceblue;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.navBar {
    height: max-content;
    background-image: url("https://picsum.photos/id/256/3840/600");
    background-repeat: no-repeat;
    background-size:cover;
}

.ul {
    padding-top: 30px;
    padding-right: 20px;
}

.logo {
    padding-top: 15px;
    padding-left: 20px;
    float: left;
    display: block;
}

.listMenu {
    padding-top: 10%;
    padding: 20px;
    list-style-type: none;
    text-decoration: none;
    float: right;
}

.login {
    background-color: darkgray;
    color:azure;
    transition: 0.3s;
}
.login:hover {
    background-color: rgb(214, 214, 214);
    color:darkblue;
}

.head {
    padding: 30px;
    text-align: center;
    clear: both;
}
.searchBar {
    padding: 30px;
    text-align: center;
    clear: both;

}