<div class = "navBar">
    <div class = "logo">
        <img src = "{{ logo }}" alt="logo">
    </div>
    <div class = "menu">
        <ul class = "ul">
            <a href="#item"><li *ngFor = "let item of menu.reverse()" class = "listMenu" [ngClass] = "{login : btnLogin(item)}">{{ item }}</li></a>
        </ul>
    </div>
    <div class = "head">
        <app-homework3head></app-homework3head>
    </div>
    <div class = "searchBar">
        <app-homework3search></app-homework3search>
    </div>
</div>