* {
    margin: auto;
    padding: 0;
}

input {
    width: 75%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    background-image: url('http://www.clker.com//cliparts/9/T/2/h/X/7/search-icon-hi.png');
    background-size: 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}