<div class = "body">
    <div class = "titleBody">
        <h4>Lorem ipsum dolor sit amet.</h4>
    </div>
    <div class = "bodyCard">
        <div class = "card">
            <a href="#">
                <div class = "nameProduct">
                    <h5 class = "product">Product1</h5> 
                </div>
                <img src = "https://picsum.photos/id/30/200/300" alt = "product">
            </a>
        </div>
        <div class = "card">
            <a href="#">
                <div class = "nameProduct">
                    <h5 class = "product">Product2</h5> 
                </div>
                <img src = "https://picsum.photos/id/326/200/300" alt = "product">
            </a>
        </div>
        <div class = "card">
            <a href="#">
                <div class = "nameProduct">
                    <h5 class = "product">Product3</h5> 
                </div>
                <img src = "https://picsum.photos/id/357/200/300" alt = "product">
            </a>
        </div>
        <div class = "card">
            <a href="#">
                <div class = "nameProduct">
                    <h5 class = "product">Product4</h5> 
                </div>
                <img src = "https://picsum.photos/id/370/200/300" alt = "product">
            </a>
        </div>
    </div>
</div>
        
        
