* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
    display: block;
    position: both;
}
img {
    width: 100%;
}
.body {
    overflow:auto;
    width: 100%;
    height: max-content;
    clear: both;
}
.titleBody{
    width: 75%;
    padding: 20px;
}

.bodyCard {
    /* width: fit-content; */
    text-align: center;
    width: 75%;
    height: 100px;
    /* background-color: lightsalmon; */
}
.card {
    overflow:auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    width: fit-content;
    float: left;
    margin: 0px 0px 20px 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.nameProduct {
    padding: 10px 16px;
}

.nameProduct, .product {
    background-color: darkgray;
    color: azure;
}