<div class ="mainHead">
    <div class = "textHead">
        <h3 class = "titleText">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, veritatis?</h3>
        <p class = "textDetail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident temporibus ea alias culpa. Est qui accusamus eveniet cupiditate perspiciatis, quasi nisi eos nemo, veniam et aut dolor non tempora animi aliquid maxime earum ad impedit itaque, eaque magnam hic quam officia molestiae? Aspernatur voluptate quae adipisci obcaecati nulla culpa et iure, inventore veritatis a itaque nobis. Deleniti molestiae eos fugit quia inventore ex vel? Veniam vitae ratione repellat officia eligendi ab, deserunt commodi nihil, minus cum quae? Laborum est officiis illo beatae fugit id, quis corrupti similique voluptatum, sequi deleniti architecto asperiores esse saepe earum et reprehenderit, vero porro dolores?</p>  
        <div class = "btnHead">
            <a href = "#"><p class = "moreDetail">More Detail</p></a>
            <a href = "#"><p class = "signUp">Sign Up</p></a>
        </div>
    </div>
</div>
