* {
    margin: auto;
    padding: 0;
}
.textHead {
    text-align: left;
    width: 75%;
    padding: 10px;
    line-height: 1.5em;
}
.titleText {
    padding-bottom: 10px;
}
.bthHead {
    width: 75%;
    text-align: left;
}

.moreDetail, .signUp {
    text-align: left;
    margin-top: 10px;
    padding: 10px 15px;
    float: left;
    text-decoration: none;
    background-color: darkgray;
    color:azure;
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
    transition: 0.3s;
}
.moreDetail:hover {
    background-color: rgb(214, 214, 214);
    color:darkblue;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.signUp {
    margin-left: 20px;
    background-color: lightblue;
    color: darkblue;
}
.signUp:hover {
    background-color: rgb(209, 242, 253);
    color: rgb(56, 56, 167);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}