* {
    margin: auto;
    padding: 0;
}
.textHead {
    text-align: left;
    width: 75%;
    padding: 10px;
    line-height: 1.5em;
}
.titleText {
    padding-bottom: 10px;
}
.bthHead {
    width: 75%;
    text-align: left;
}

.moreDetail, .signUp {
    text-align: left;
    margin-top: 10px;
    padding: 10px 15px;
    float: left;
    text-decoration: none;
    background-color: darkgray;
    color:azure;
    border: none;
    border-bottom: 1px solid #ccc;
}
.signUp {
    margin-left: 20px;
    background-color: lightblue;
    color: darkblue;
}