/* .center {
    margin: auto;
    padding: 0;
    text-align: center;
}
.left {
    margin: auto;
    padding: 30px;
}
hr {
    margin: 20px 0 20px 0;
} */
*{
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}
.show {
    margin: auto;
    padding: auto;
}
.button {
    background-color: burlywood;
    height: auto;
    padding: 10px;
    text-align: center;
    vertical-align: center;
    width: 100%;
    display: flex;
}
.navbar {
    font-size: 70%;
    width: 20%;
    padding: 10px;
    margin: 10px; 
    text-decoration: none;
    color:aliceblue;
    background-color: darkcyan;
    float: left;
}
.navbar:hover {
    background-color:lightseagreen;
}