<div>
    <div class = "center">
        <app-Lab4></app-Lab4> <!-- ข้อ11 lab4-->
        <hr>
        <app-title [title] = "'Shopping Online (Counting shop)'"></app-title> <!-- ข้อ10 lab3-->
        <hr>
        <app-home></app-home> <!-- ข้อ13.1 homework1-->
    </div>
    <hr>
    <div class = "left">
        <app-todolist></app-todolist> <!-- ข้อ13.2 homework2 และข้อ13.4 เพิ่มปุ่มลบ toDO-->
    </div>
    <hr>
    <div class = "web">
        <app-homework3></app-homework3> <!-- ข้อ13.3 homework3-->
    </div>
</div>