<div class = "category">
    <div class = "fix">
    <div class = "iconBlock1">
        <a href="#{{ categoryMenu[0] }}">
        <img src="{{ iconCat[0] }}" alt="icon">
        {{ categoryMenu[0] }}</a>
    </div>
    <div class = "iconBlock1">
        <a href="#{{ categoryMenu[1] }}">
        <img src="{{ iconCat[1] }}" alt="icon">
        {{ categoryMenu[1] }}</a>
    </div>
    <div class = "iconBlock1">
        <a href="#{{ categoryMenu[2] }}">
        <img src="{{ iconCat[2] }}" alt="icon">
        {{ categoryMenu[2] }}</a>
    </div>
    <div class = "iconBlock1">
        <a href="#{{ categoryMenu[3] }}">
        <img src="{{ iconCat[3] }}" alt="icon">
        {{ categoryMenu[3] }}</a>
    </div>
    <div class = "iconBlock1">
        <a href="#{{ categoryMenu[4] }}">
        <img src="{{ iconCat[4] }}" alt="icon">
        {{ categoryMenu[4] }}</a>
    </div>
    <div class = "iconBlock1">
        <a href="#{{ categoryMenu[5] }}">
        <img src="{{ iconCat[5] }}" alt="icon">
        {{ categoryMenu[5] }}</a>
    </div>
    <div class = "iconBlock1">
        <a href="#{{ categoryMenu[6] }}">
        <img src="{{ iconCat[6] }}" alt="icon">
        {{ categoryMenu[6] }}</a>
    </div>
    </div>
</div>


