.nav {
    margin: auto;
    padding: 0;
    display: block;
    clear: both;
}
.topbanner {
    margin: auto;
    padding: 0;
    display: block;
    clear: both;
}
.category {
    margin: auto;
    padding: 0;
    display: block;
    clear: both;
}