<div class = "topbanner">
    <div class = "top">
        <div class = "topPic">
            <img src = "https://picsum.photos/seed/picsum/1920/500" alt="slidePhoto" class = "pic1">
        </div>
    </div>
    <div class = "subTop">
        <div class = "subTop1">
            <img src = "https://picsum.photos/seed/picsum/300/100" alt="slidePhoto" class = "pic2">
        </div>
        <div class = "subTop2">
            <img src = "https://picsum.photos/seed/picsum/300/100" alt="slidePhoto" class = "pic3">
        </div>
    </div>
</div>